body {
	background: url('https://thumbs.dreamstime.com/b/abstract-d-white-geometric-background-white-seamless-texture-shadow-simple-clean-white-background-texture-d-interior-wal-wall-47348922.jpg') fixed;
	background-repeat: repeat;
	background-size: cover;
}

h1, h3 {
	color: white;
}

.thumbnail-cropped {
	height: 300px;
	overflow: hidden;
}

.panel-body-scroll {
	overflow-y: scroll;
	height: 15pc;
}