body {
	background: url('https://static.pexels.com/photos/21492/pexels-photo.jpg') fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

h1, h3 {
	color: white;
}

.thumbnail-cropped {
	height: 300px;
	overflow: hidden;
}
